body {
    background-color: lightblue;
}

.full {}

.custom-file-upload .image1 {
    border: 5px solid red;
    height: 50px;
}

::-ms-browse {
    border: 2in;
}

form {
    width: 33%;
    text-align: center;
}